<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" ><mapper namespace="com.zym.wx.interdata.demo.dao.IDemoDao">    <select id="getCityName" resultType="java.lang.String">        select name from city    </select>    <select id="getData" parameterType="java.lang.String" resultType="java.lang.String">        select ${column} from city    </select></mapper>